.home-main-content{
    width:98.5vw;
    height:100vh;
    padding:0;
    margin:0;
    background-color:white;
}


.prfile-dropdown-content{
    display:flex;
    flex-direction:column;
    gap:25px;
    background-color: whitesmoke;
    width:100%;
    padding-left:55%;
    padding-top: 55%;
    padding-right:85%;
    padding-bottom:55%;
    border-radius:5%;
    /* padding-right: 10px; */
}
.prfile-dropdown-content a{
    font-size:0.8rem;
    color:rgb(66, 65, 65);
}
.prfile-dropdown-content a:hover{
    color:black;
    font-size:0.82rem;
}

.popup{
   padding-right:55px;
}