.home-main-content{
    width:98.5vw;
    height:100vh;
    padding:0;
    margin:0;
    background-color:white;
    display:flex;
    flex-direction:column;
    gap:2%;
}
.fig-cap{
    visibility:hidden;
}
.blog-content{
    width:100%;
    padding-bottom:4%;
    text-align:start;
}
.fig-img{
    margin:0;
}
.content{
    text-align:start;
}
/* .content img{
    width:100%;
    margin:0;
    border-radius:4%;
} */
.fig-img {
    height: 200px;
    width:100% !important;
     /* Uniform height for all */
    overflow: hidden;
}
.fig-img img{
    width:100% !important;
    margin:0;
    border-radius:4%; 
    /* height:100% !important; */
    object-fit: cover;
    overflow: hidden;
    display:block;
}
.blog-content h1{
    font-size:1.5rem;
    margin:0;
    width:100%;
    padding-bottom:4%;
}
.blog-display{
    width:90vw;
    display:grid;
    justify-content:center;
    align-items:center;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
    padding:2%;
    margin-left:2%;
}


.prfile-dropdown-content{
    display:flex;
    flex-direction:column;
    gap:25px;
    background-color: whitesmoke;
    width:100%;
    padding-left:55%;
    padding-top: 55%;
    padding-right:85%;
    padding-bottom:55%;
    border-radius:5%;
    /* padding-right: 10px; */
}
.prfile-dropdown-content a{
    font-size:0.8rem;
    color:rgb(66, 65, 65);
}
.prfile-dropdown-content a:hover{
    color:black;
    font-size:0.82rem;
}

.popup{
   padding-right:55px;
}

.most-popular-blog-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:3%;
    width:100%;
}
.most-popular-blog-container div{
    width:35%;
    height:100%;
}
.most-popular-blog-container img{
    width:100%;
    height:100%;
}
.most-popular-blog-container div:nth-child(1){
    /* background-color: green; */
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: start;
    gap:0;
}
.most-popular-blog-container div:nth-child(1) p{
    text-align:justify;
    font-size:1.1rem;
    line-height:1.6rem;
    color:grey;
}
.most-popular-blog-container div:nth-child(1) p:nth-child(1){
    text-align:justify;
    font-size:0.8rem;
    line-height:1.5;
    
}
.most-popular-blog-container div:nth-child(1) h2{
    text-align:start;
    margin:0;
    padding:0;
}
#star-profile:hover{
    
}