.read-main-content{
    width:100%;
    min-height:100vh;
    background-color:whitesmoke;
    display:flex;
    flex-direction:column;
    gap:1%;  
}
hr{
    border:0.5px solid rgb(230, 229, 229);
}
.read-main-content h1{
    margin:0;
}
.read-content{
    display:flex;
    justify-content:center;
    align-items:center;
}
.read-html{
    text-align:start;
}

figcaption{
    visibility: visible;
    color:black;
    font-size:1rem;
}
.read-html .fig-cap {
    visibility: visible;
}
.read-html .fig-img {
    width: 100%;
    height:300px;
    text-align: center; 
    overflow: hidden;
    border-radius:0;
}
.read-html .fig-img img{
    border-radius:0;
    object-fit: contain;
    width:100%;
    height:95%;
}
.img {
object-fit: contain;
width:auto;
max-width:100%;
height:95%;
border-radius:0;
}
.read-html h1{
    margin-bottom:5%;
    margin-top:5%;
    
}
.read-html p{
    line-height:1.5rem;
}
.icon{
    font-size:1.3rem;
    color:grey;
    -webkit-text-stroke: 15px black solid;
}
.count{
    font-size:1rem;
}