p,label,a{
    font-size:0.8rem;
    
}
a{
    cursor:pointer;
}
.register-form-container label{
    font-weight:bold;
}
.register-form-container input{
    width:85%;
    height:35px;
    border:grey 1px solid;
    border-radius: 10px;
    padding-left:4%;
}
.register-form-container h2{
    line-height: 0;
}
.register-button{
    width:89%;
    height:35px;
    background-color:rgb(178, 6, 178);
    color:white;
    font-size:0.8rem;
}
#google-register-container{
    width:89%;
}

#google-register{
    width:100%;
    padding-bottom:5%;
    
}

.register-main-container{
    width: 90vw;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin:auto;
    background-color:whitesmoke;
    margin-left:54px;
}
.register-form-container{
    background-color: white;
    width:40%;
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:flex-start;
    padding-left:4%;
    padding-top:1%;
    padding-bottom:1%;
}
.register-form-container h1{
    line-height:0.5;
    font-size:1.5rem;
    font-weight:1.5rem;
}
.register-image-container{
    background-color: white;
    width:40%;
}
.register-side-image{
width:100%;
height:574px;
}